<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GO GONE College</title>
    style 
      include ../static/site.css
</head>

<body>
 <header>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="Colleges">Colleges</a>
                    <a href="Exams">Exams</a>
                    <a href="Courses">Courses</a>
                    <a href="News">News</a>
                </li>
            </ul>
            <div class="center" id="humbruger">
                <div style="color: aqua;"></div>
            </div>
        </nav>
        <section class="background1">
            <div class="logo">
                <img src="/static/Logo.jpg" alt="logo">
                <div class="logo-content1">GoGoneCollege </div>
                <div class="logo_con1">.com</div>
            </div>
            <div class="topbox">
                <p class="searchtitle">GO AHEAD OVER SEARCH</p>
                <div class="search_container">
                    <input class="search_input" type="text" placeholder="SEARCH">
                </div>
                <p class="modifier_title">Find Your Niche ?</p>
            </div>
        </section>
        </header>
<form action="" id="contact" method="POST">
        <p style="font-size: 35px; color: white; text-align: center;">#{contain}</p>
        <input type="text" name="name" id="name" placeholder="Enter ur name">
        <input type="number" name="age" id="age" placeholder="Enter ur age">
        <input type="text" name="gender" id="gender" placeholder="Enter ur gender">
        <textarea name="more" id="more" cols="30" rows="5" placeholder="write about urself"></textarea>
        <button class="btn">submit</button>
</form>
<footer>
        <section class="footer-menu">
            <ul class="footer-list">
                <li> <a href="about">About us</a></li>
                <li> <a href="privacy">Privacy policy</a></li>
                <li> <a href="contact">Contact us</a></li>
                <li> <a href="help">Help</a></li>
            </ul>
        </section>
        <section class="footer-bottom">
            <div class="logo1">
                <div class="logo-content11">GoGoneCollege </div>
                <div class="logo_con11">.com</div>
            </div>
            <div class="footer-content">Go Gone College © Copyright 2021</div>
        </section>
</footer>
</body>