<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
    <title>GO GONE College</title>
    <link rel="stylesheet" href="../static/site.css">
    <!-- style 
      include ../static/site.css -->
</head>

<body>

    <header>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="Colleges">Colleges</a>
                    <a href="Exams">Exams</a>
                    <a href="Courses">Courses</a>
                    <a href="News">News</a>
                </li>
            </ul>
            <div class="center" id="humbruger">
                <div style="color: aqua;"></div>
            </div>
        </nav>
        <section class="background1">
            <div class="logo">
                <img src="/static/Logo.jpg" alt="logo">
                <div class="logo-content1">GoGoneCollege </div>
                <div class="logo_con1">.com</div>
            </div>
            <div class="topbox">
                <p class="searchtitle">GO AHEAD OVER SEARCH</p>
                <div class="search_container">
                    <form action="" method="post">
                        <input id="searchName" class="search_input" type="text" name="search" placeholder="SEARCH">
                        <button type="submit">search</button>
                    </form>
                </div>
                <p class="modifier_title">Find Your Niche ?</p>
            </div>
        </section>
    </header>
    <section class="college">
        <p class="heading">Top Featured Colleges</p>
        <hr>
        <div class="top-clg" id="top_college">
            <div class="clg-box">
                <div class="img-box">
                    <a href="#AIIMSdelhi">
                        <img width="250vw" height="200vw" src="/static/AIIMSdelhi.jpg" alt="AIIMS Delhi">
                    </a>
                </div>
                <div class="text-box">
                    <h3>
                        <a href="#AIIMSdelhi">AIIMS Delhi</a>
                    </h3>
                    <ul class="clg-nav">
                        <li> <a href="#AIIMSdelhi">How To Reach</a></li>
                        <li> <a href="#AIIMSdelhi">Courses</a></li>
                        <li> <a href="#AIIMSdelhi">Cutoff</a> </li>
                        <li> <a href="#AIIMSdelhi">Seats</a></li>

                        <li> <a href="#AIIMSdelhi">Fee Structure</a></li>
                    </ul>
                </div>

            </div>
            <div class="clg-box">
                <div class="img-box">
                    <a href="#MAMCdelhi">
                        <img width="250vw" height="200vw" src="/static/MAMCdelhi.jpg" alt="MAMC Delhi">
                    </a>
                </div>
                <div class="text-box">
                    <h3>
                        <a href="#MAMCdelhi">MAMC, Delhi</a>
                    </h3>
                    <ul class="clg-nav">
                        <li> <a href="#MAMCdelhi">How To Reach</a></li>
                        <li> <a href="#MAMCdelhi">Courses</a></li>
                        <li> <a href="#MAMCdelhi">Cutoff</a> </li>
                        <li> <a href="#MAMCdelhi">Seats</a></li>

                        <li> <a href="#MAMCdelhi">Fee Structure</a></li>
                    </ul>
                </div>
            </div>
            <div class="clg-box">
                <div class="img-box">
                    <a href="#JIPMERpondicherry">
                        <img width="250vw" height="200vw" src="/static/JIPMERPONDICHERRY.jpg.jpeg" alt="JIPMER Pondicherry">
                    </a>
                </div>
                <div class="text-box">
                    <h3>
                        <a href="#JIPMERpondicherry">JIPMER, Pondicherry</a>
                    </h3>
                    <ul class="clg-nav">
                        <li> <a href="#JIPMERpondicherry">How To Reach</a></li>
                        <li> <a href="#JIPMERpondicherry">Courses</a></li>
                        <li> <a href="#JIPMERpondicherry">Cutoff</a> </li>
                        <li> <a href="#JIPMERpondicherry">Seats</a></li>

                        <li> <a href="#JIPMERpondicherry">Fee Structure</a></li>
                    </ul>
                </div>

            </div>

            <div class="clg-box">
                <div class="img-box">
                    <a href="#IMSBHU">
                        <img width="250vw" height="200vw" src="/static/IMSBHU.jpg" alt="IMS BHU">
                    </a>
                </div>
                <div class="text-box">
                    <h3>
                        <a href="#IMSBHU">IMS, BHU</a>
                    </h3>
                    <ul class="clg-nav">
                        <li> <a href="#IMSBHU">How To Reach</a></li>
                        <li> <a href="#IMSBHU">Courses</a></li>
                        <li> <a href="#IMSBHU">Cutoff</a> </li>
                        <li> <a href="#IMSBHU">Seats</a></li>

                        <li> <a href="#IMSBHU">Fee Structure</a></li>
                    </ul>
                </div>

            </div>
            <div class="clg-box">
                <div class="img-box">
                    <a href="#AMUaligarh">
                        <img width="250vw" height="200vw" src="/static/AMUaligarh.jpg" alt="AMU Aligarh">
                    </a>
                </div>
                <div class="text-box">
                    <h3>
                        <a href="#AMUaligarh">AMU, Aligarh</a>
                    </h3>
                    <ul class="clg-nav">
                        <li> <a href="#AMUaligarh">How To Reach</a></li>
                        <li> <a href="#AMUaligarh">Courses</a></li>
                        <li> <a href="#AMUaligarh">Cutoff</a> </li>
                        <li> <a href="#AMUaligarh">Seats</a></li>

                        <li> <a href="#AMUaligarh">Fee Structure</a></li>
                    </ul>
                </div>

            </div>

            <div class="clg-box">
                <div class="img-box">
                    <a href="#PatnaDentalCollege">
                        <img width="250vw" height="200vw" src="/static/PATNAdentalclg.jpg" alt="Patna Dental College">
                    </a>
                </div>
                <div class="text-box">
                    <h3>
                        <a href="#PatnaDentalCollege">Patna Dental College & Hospital</a>
                    </h3>
                    <ul class="clg-nav">
                        <li> <a href="#PatnaDentalCollege">How To Reach</a></li>
                        <li> <a href="#PatnaDentalCollege">Courses</a></li>
                        <li> <a href="#PatnaDentalCollege">Cutoff</a> </li>
                        <li> <a href="#PatnaDentalCollege">Seats</a></li>

                        <li> <a href="#PatnaDentalCollege">Fee Structure</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <section class="top-exams" id="top-exams" style="width: 100vw;">
        <p class="heading"> Top Exams</p>
        <hr>
        <div class="top_exam" id="top_exam">
            <div class="exam">
                <a class="examtext" href="#exam1">
                    <div class="box_wrapper">
                        <img width="80vw" height="80vw" src="/static/AIIMSlogo.jpg">
                        <h4 class="exam-detail">AIIMS</h4>
                        <p class="exam-text">
                            All India Institute Of Medical Sciences
                        </p>
                    </div>
                </a>
            </div>
            <div class="exam">
                <a class="examtext" href="#exam2">
                    <div class="box_wrapper">
                        <img width="80vw" height="80vw" src="/static/JIPMERlogo.jpg">
                        <h4 class="exam-detail">JIPMER</h4>
                        <p class="exam-text">
                            Jawaharlal Institute Of Post Graduate Medical Education and Research
                        </p>
                    </div>
                </a>

            </div>
            <div class="exam">
                <a class="examtext" href="#exam3">
                    <div class="box_wrapper">
                        <img width="80vw" height="80vw" src="/static/NEETlogo.jpg">
                        <h4 class="exam-detail">NEET</h4>
                        <p class="exam-text">
                            National Eligibility Cum Entrance Test
                        </p>
                    </div>
                </a>

            </div>
            <div class="exam">
                <a class="examtext" href="#exam4">
                    <div class="box_wrapper">
                        <img width="80vw" height="80vw" src="/static/CMCvellorelogo.jpg">
                        <h4 class="exam-detail">CMC Vellore MBBS</h4>
                        <p class="exam-text">
                            Christian Medical College Vellore MBBS Entrance Exam
                        </p>
                    </div>
                </a>

            </div>
            <div class="exam">
                <a class="examtext" href="#exam5">
                    <div class="box_wrapper">
                        <img width="80vw" height="80vw" src="/static/SRMHCAT.jpg">
                        <h4 class="exam-detail">SRMHCAT</h4>
                        <p class="exam-text">
                            SRM University Delhi-NCR Sonepat Haryana Common Aptitude Test
                        </p>
                    </div>
                </a>

            </div>
            <div class="exam">
                <a class="examtext" href="#exam6">
                    <div class="box_wrapper">
                        <img width="80vw" height="80vw" src="/static/SAJEElogo.jpg">
                        <h4 class="exam-detail">SAJEE</h4>
                        <p class="exam-text">
                          |  St Andrews Joint Entrance Exam (SAJEE)
                        </p>
                    </div>
                </a>
            </div>

        </div>

    </section>
    <section class="image">
        <img src="/static/img.jpg" alt="img" class="responsive" id="last_image">
    </section>
    <footer>
        <section class="footer-menu">
            <ul class="footer-list">
                <li> <a href="about">About us</a></li>
                <li> <a href="privacy">Privacy policy</a></li>
                <li> <a href="contact">Contact us</a></li>
                <li> <a href="help">Help</a></li>
            </ul>
        </section>
        <section class="footer-bottom">
            <div class="logo1">
                <!-- <img src="Logo.jpg" alt="logo"> -->
                <div class="logo-content11">GoGoneCollege </div>
                <div class="logo_con11">.com</div>
            </div>
            <div class="footer-content">Go Gone College © Copyright 2021</div>
        </section>
    </footer>

    <script>
    $(function(){
    $('#searchName').autocomplete({
      source: function(req,res){
        $.ajax({
          url:"autocomplete/",
          dataType:"jsonp",
          type:"GET",
          data:req,
          success: function(data){
            res(data)
          },
          error: function(err){
            console.log(err.status);
          }
        });
      },
      minLength:1,
      select: function(event,ui){
        if(ui.item){
          $('#searchName').val(ui.item.label);
        }
      }
      });
        });
        </script>
</body>
</html>